@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #fafafa;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 3em;
  height: 10vh;
  color: #eaeaea;
}

.App-title {
  font-size: 1.5em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-content {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.sidenews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidenews__header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #555;
  text-shadow: 0px 0px 2px grey;
}

.section {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  background-color: #fafafa;
  color: #555;
}
